.wrapper {
  min-width: 100px;
  min-height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 90rem;
}

.pokemon {
  min-width: 100px;
  filter: drop-shadow(6px 2px 2px #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  z-index: 1;
  margin-top: -60px;
}

.glurak {
  filter: drop-shadow(5px 5px 5px #000000);
  position: absolute;

  margin-left: -380px;
  width: 400px;
  margin-top: -300px;
  min-width: 1%;
  min-height: 1%;
  min-height: 10px;
}

.red-section {
  background-color: #b91719;
  border-radius: 300px 300px 0px 0px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.white-section {
  background-color: white;
  border-radius: 0px 0px 300px 300px;
  border-top: solid black 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 7%;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  border: solid black 3px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  transition: 2s;

  box-shadow: 1px 2px 14px 10px;
  animation: pulse 2.5s infinite;
}

.button:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255),
    0 0 20px rgb(255, 255, 255);
  transition: 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
